
<div class="swiper headerCarousel bg-primary">
    <div class="swiper-wrapper">

        <div class="swiper-slide specifical-bg-3-testimonial">
            <div class="mx-auto text-center">
                <img src="https://via.placeholder.com/1400x580.png" height="580px"> <!-- center this image within the column -->
                <div class="container">
                    <div class="carousel-caption text-start">
                        <h3 class="h1">Préinscription en ligne</h3>
                            <p class="text-light lead h1">Accedez  simplement et facilement à notre parcours en vous préinscrivant en ligne</p>
                        <p>
                            <a class="btn specifical-bg-1 text-light btn-lg rounded-pill" href="">Postuler</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        {% for item in carousel_items %}
        <div class="swiper-slide specifical-bg-3-testimonial">
            <div class="mx-auto text-center">
                <img src="{{asset('uploads/images/news/' ~ item.featuredImage.filename)}}" height="580px"> <!-- center this image within the column -->
                <div class="container">
                    <div class="carousel-caption text-center">
                        <h3 class="h1">{{item.title}}</h3>
                        <p class="text-light lead">{{ item.content|striptags|u.truncate(50, '...', false)|raw }}</p>
                        <p>
                            <a class="btn specifical-bg-1 text-light btn-lg rounded-pill" href="{{path('app_news_show',{slug: item.slug})}}">Lire la suite</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
</div>

