<div class="container marketing py-5">

    <!-- START THE FEATURETTES -->
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5" data-sal="fade" style="--sal-duration: 2.5s; --sal-delay: 0.5s;">
		<div class="col-md-6 col-sm-12 col-lg-4" data-sal="slide-left">
			<img src="{{asset('img/cloud_serveur.jpg')}}" class="d-block mx-lg-auto img-fluid rounded-3 shadow" alt="Faculté des Sciences et Techniques">
		</div>
		<div class="col-lg-8" data-sal="slide-right">
			<h2 class="display-5 fw-bold lh-1 mb-3">À propos du parcours</h2>
        	<div class="text-subline mb-3"></div>

			<p class="lead">
				L’objectif du parcours Informatique de la faculté des sciences et Techniques de 
				l’Université Marien NGOUABI est de fournir une solide formation générale en informatique. 
				La spécialisation en informatique se fait progressivement dans le parcours tout en 
				conservant en permanence une place aux enseignements des compétences transversales. La 
				formation se conclut par un stage en entreprise de 3 mois.</p>
			<div class="d-grid gap-2 d-md-flex justify-content-md-start">
				<a href=" {{ path('app_parcours_presentation') }} " class="btn rounded-pill shadow specifical-bg-3 text-light btn-lg px-4 me-md-2">
					En savoir plus
				</a>
			</div>
		</div>
	</div>

</div>

<div class="bg-light py-5">
    <div class="container">
        <h2 class="display-6 fw-bold lh-1 mb-3 text-center" data-sal="slide-up" style="--sal-duration: 2s; --sal-delay: 0s;">Offre de formation</h2>
        <div class="content-devider" data-sal="slide-up" style="--sal-duration: 2s; --sal-delay: 0s;">
            <hr class="content-devider-line" style="max-width:100%;width:50px;">
        </div>

        <div class="row justify-content-center text-white my-3">
            <div class="col-sm-6 col-lg-4 col-xl-3 mb-3">
                <div class="feature rounded shadow " data-sal="slide-up" style="background-color: #2f0f55; --sal-duration: 0.5s; --sal-delay: 0s;">
                    <div class="p-3">
                        <div class="text-center fs-2 mb-3">
                            <svg class="fa fa-2x fa-server" width="2em" height="2em">
                            </svg>
                        </div>
                        <h3 class="fs-2">Doctorat</h3>
                        <p class="text-light">Devenez un expert dans le domaine d'informaique et développez votre carrière avec un doctorat dans l'une des branche de la technologie de l'information.</p>
                    </div>
                </div>
                
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3 mb-3">
                <!-- Box Classic-->
                <div class="feature rounded shadow " data-sal="slide-up" style="background-color: #2f0f55; --sal-duration: 0.5s; --sal-delay: 0.5s;">
                    <div class="p-3">
                        <div class="text-center fs-2 mb-3">
                            <svg class="fa fa-2x fa-database" width="2em" height="2em">
                            </svg>
                        </div>
                        <h3 class="fs-2">Master</h3>
                        <p class="text-light">Lancez votre carrière avec un diplôme d'informatique de deuxième cycle. Nous formons en master dans plusieurs métiers de la science de l'information.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3 mb-3">
                <!-- Box Classic-->
                <div class="feature rounded shadow " data-sal="slide-up" style="background-color: #2f0f55; --sal-duration: 0.5s; --sal-delay: 1s;">
                    <div class="p-3">
                        <div class="text-center fs-2 mb-3">
                            <svg class="fa fa-2x fa-laptop-code" width="2em" height="2em">
                            </svg>
                        </div>
                        <h3 class="fs-2">Licence</h3>
                        <p class="text-light">Commencez votre parcours d'études supérieures avec une Licence en informatique et découvrez le domaine d'informatique.</p>
                    </div>
                </div>
                
            </div>
            <div class="col-sm-6 col-lg-4 col-xl mb-3" >
                <!-- Box Classic-->
                <div class="feature rounded shadow " data-sal="slide-up" style="background-color: #2f0f55; --sal-duration: 0.5s; --sal-delay: 1.5s;">
                    <div class="p-3">
                        <div class="text-center fs-2 mb-3">
                            <svg class="fa fa-2x fa-clipboard-list" width="2em" height="2em">
                            </svg>
                        </div>
                        <h3 class="fs-2">Certifications</h3>
                        <p class="text-light">Les certification offrent une étude ciblée dans un domaine spécifique pour vous aider à faire progresser votre carrière et rester compétitif dans le marché de l'emploi.</p>
                    </div>
                </div>
            </div>
            {# <div class="text-center my-3">
                <a href="" class="btn specifical-bg-1 text-light rounded-pill" data-sal="zoom-in" style="--sal-duration: 0.8s; --sal-delay: 2s;">En savoir plus <i class="ms-3 fa-solid fa-arrow-right"></i></a>
            </div> #}
        </div>
    </div>
</div>


<div class="container marketing mb-5">
    <!-- START THE FEATURETTES -->
    <br>

	<div class="" data-sal="slide-up" style="--sal-duration: 2.5s; --sal-delay: 0.5s;">

		<h2 class="display-6 fw-bold lh-1 mb-3">Partenaires</h2>
		<div class="text-subline mb-3"></div>

		<div class="swiper owl-carousel">
			<div class="swiper-wrapper">

                {% for partner in partners %}
				<div class="swiper-slide">
					<div class="card">
						<img src="{{asset('uploads/images/partenaires/' ~ partner.logoName)}}" height="60px">
					</div>
				</div>
                {% endfor %}
                    
			</div>
		</div>			
	</div>


</div>