<div class="main-body overflow-hidden">
  <input type="radio" name="position" checked />
  <input type="radio" name="position" />
  <input type="radio" name="position" />
  <input type="radio" name="position" />
  <input type="radio" name="position" />
  <div id="carousel-galery"> 
  <!--les images qui seront contenu dans les div.item devrons avoir un height de 390 à 400 px lors de leurs redimensionement-->
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
  </div>
    
</div>

<div class="text-center">
      <a href="{{ path('app_news') }}" class="btn specifical-bg-1 text-white">
        Voir plus <i class="ms-3 fa-solid fa-arrow-right"></i>
      </a>
    </div>