<div class="container mb-5">
	<h2 class="display-6 fw-bold lh-1 mb-3 text-center">Statistiques</h2>
    <div class="content-devider">
      <hr class="content-devider-line" style="max-width:100%;width:50px;">
    </div>

	<div class="row text-center">
		<div class="col-lg-3 col-md-6 mb-3 text-center">
			<svg class="rounded-circle border p-4" width="130" height="130">
				<text class="fa-solid fa-graduation-cap" style="color: #2f0f55 ;"></text>
			</svg>
			<br>
			<h2 class="fw-lg count">12</h2>
			<p>Gradués</p>
      	</div>
		<div class="col-lg-3 col-md-6 mb-3 text-center">
			<svg class="rounded-circle border p-4" width="130" height="130">
				<text class="fa-solid fa-graduation-cap" style="color: #2f0f55 ;"></text>
			</svg>
			<br>
			<h2 class="fw-lg count">12</h2>
			<p>Enseignants</p>
      	</div>
		<div class="col-lg-3 col-md-6 mb-3 text-center">
			<svg class="rounded-circle border p-4" width="130" height="130">
				<text class="fa-solid fa-graduation-cap" style="color: #2f0f55 ;"></text>
			</svg>
			<br>
			<h2 class="fw-lg count">12</h2>
			<p>Etudiants</p>
      	</div>
		<div class="col-lg-3 col-md-6 mb-3 text-center">
			<svg class="rounded-circle border p-4" width="130" height="130">
				<text class="fa-solid fa-graduation-cap" style="color: #2f0f55 ;"></text>
			</svg>
			<br>
			<h2 class="fw-lg count">12</h2>
			<p>Employabilité</p>
      	</div>
	</div>

</div>

<div class="bg-light">
    <div class="container">
        <h2 class="display-6 fw-bold lh-1 mb-3 text-center">Carrieres</h2>
        <div class="content-devider">
            <hr class="content-devider-line" style="max-width:100%;width:50px;">
        </div>

        <div class="row justify-content-center text-white my-3">
            <div class="col-sm-6 col-lg-4 col-xl-3 mb-3">
                <div class="feature rounded shadow " style="background-color: #2f0f55 ;">
                    <div class="p-3">
                        <div class="text-center fs-2 mb-3">
                            <svg class="fa fa-2x fa-server" width="2em" height="2em">
                            </svg>
                        </div>
                        <h3 class="fs-2">Administration Systemes et Reseaux</h3>
                        <p class="text-light">Etre à en charge de l'exploitation des moyens informatiques au sein d'une société. Il travaille en général en équipe avec le responsable informatique et aide au bon fonctionnement du système informatique général.</p>
                    </div>
                </div>
                
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3 mb-3">
                <!-- Box Classic-->
                <div class="feature rounded shadow " style="background-color: #2f0f55 ;">
                    <div class="p-3">
                        <div class="text-center fs-2 mb-3">
                            <svg class="fa fa-2x fa-database" width="2em" height="2em">
                            </svg>
                        </div>
                        <h3 class="fs-2">Administration des bases de données</h3>
                        <p class="text-light">S'assurer du bon fonctionnement de serveurs de bases de données, essentiellement relationnelles (OLTP) ou décisionnelles (OLAP), tant au niveau de la conception des bases, des tests de validation.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3 mb-3">
                <!-- Box Classic-->
                <div class="feature rounded shadow " style="background-color: #2f0f55 ;">
                    <div class="p-3">
                        <div class="text-center fs-2 mb-3">
                            <svg class="fa fa-2x fa-laptop-code" width="2em" height="2em">
                            </svg>
                        </div>
                        <h3 class="fs-2">Développement des applications web</h3>
                        <p class="text-light">Réaliser l’ensemble des fonctionnalités techniques d’un site ou d'une application web. Concevoir des sites sur mesure ou adapte des solutions techniques existantes en fonction du projet et de la demande du client.</p>
                    </div>
                </div>
                
            </div>
            <div class="col-sm-6 col-lg-4 col-xl mb-3" >
                <!-- Box Classic-->
                <div class="feature rounded shadow " style="background-color: #2f0f55 ;">
                    <div class="p-3">
                        <div class="text-center fs-2 mb-3">
                            <svg class="fa fa-2x fa-clipboard-list" width="2em" height="2em">
                            </svg>
                        </div>
                        <h3 class="fs-2">Assistant chef de projet Informatique</h3>
                        <p class="text-light">Assister le chef de projet informatique dans ses tâches. Il participe aux diverses étapes du projet tout en donnant son avis et apportant des modifications, sous l’aval du chef de projet.</p>
                    </div>
                </div>
            </div>
            <div class="text-center my-3">
                <a href="" class="btn specifical-bg-1 text-light rounded-pill">En savoir plus <i class="ms-3 fa-solid fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
</div>

