<div class="container mb-5">
	<h2 class="display-6 fw-bold lh-1 mb-3 text-center" data-sal="fade" style="--sal-duration: 2s; --sal-delay: 0s;">Statistiques</h2>
    <div class="content-devider" data-sal="fade-in" style="--sal-duration: 2s; --sal-delay: 0s;">
        <hr class="content-devider-line" style="max-width:100%;width:50px;">
    </div>

	<div class="row text-center">
		<div class="col-lg-3 col-md-6 mb-3 text-center" data-sal="slide-up" style="--sal-duration: 2s; --sal-delay: 0s;">
			<svg class="rounded-circle border p-4" width="130" height="130">
				<text class="fa-solid fa-graduation-cap" style="color: #2f0f55 ;"></text>
			</svg>
			<br>
			<h3 class="fw-lg count">12</h3>
			<p>Gradués</p>
      	</div>
		<div class="col-lg-3 col-md-6 mb-3 text-center" data-sal="slide-up" style="--sal-duration: 2s; --sal-delay: 0s;">
			<svg class="rounded-circle border p-4" width="130" height="130">
				<text class="fa-solid fa-chalkboard-teacher" style="color: #2f0f55 ;"></text>
			</svg>
			<br>
			<h3 class="fw-lg count">12</h3>
			<p>Enseignants</p>
      	</div>
		<div class="col-lg-3 col-md-6 mb-3 text-center" data-sal="slide-up" style="--sal-duration: 2s; --sal-delay: 0s;">
			<svg class="rounded-circle border p-4" width="130" height="130">
				<text class="fa-solid fa-user" style="color: #2f0f55 ;"></text>
			</svg>
			<br>
			<h3 class="fw-lg count">12</h3>
			<p>Etudiants</p>
      	</div>
		<div class="col-lg-3 col-md-6 mb-3 text-center" data-sal="slide-up" style="--sal-duration: 2s; --sal-delay: 0s;">
			<svg class="rounded-circle border p-4" width="130" height="130">
				<text class="fa-solid fa-building" style="color: #2f0f55 ;"></text>
			</svg>
			<br>
			<h3 class="fw-lg count">12</h3>
			<p>Employabilité</p>
      	</div>
	</div>

</div>
