<div id="carouselExampleIndicators" class="carousel slide mb-5" data-bs-ride="true" data-sal="slide-up" style="--sal-duration: 2s; --sal-delay: 0s;">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner specifical-bg-3-testimonial py-5">
        <div class="carousel-item active">
            <div class="container">

                <div class="row flex-lg-row-reverse align-items-center">
                    <div class="col-md-6 col-sm-12 col-lg-2 text-lg-center">
                        <img src="{{asset('img/1559392319600.jfif')}}" class="d-block rounded-circle float-lg-end img-fluid" alt="illustration temoigneur">
                    </div>

                    <div class="col-lg-10">
                        <div class="py-5">
                            <i class="fa-solid fa-quote-left text-light"></i>
                            <figure class="text-lg-end">
                                <blockquote class="blockquote">
                                    <p class="text-light lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem voluptates modi quae! Error modi illum assumenda unde iusto officiis, reprehenderit architecto natus quas, aut, pariatur eos commodi nihil delectus consequuntur! Enim exercitationem explicabo blanditiis repellendus ad, molestias deleniti, unde ipsa commodi error reiciendis molestiae ut dolor porro facilis ea, omnis architecto id? Illo ratione, neque fugit saepe fugiat maiores dolore.</p>
                                </blockquote>
                                <figcaption class="blockquote-footer">
                                    <p class="h3 fw-bold text-light">Jhon Doe</p>
                                    <cite title="Source Title">Diplomé en Licence Informatique</cite>
                                </figcaption>
                            </figure>
                            <i class="fa-solid fa-quote-right text-light"></i>
                        </div>
    
                    </div>
                </div>


            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <img src="{{asset('img/1559392319600.jfif')}}" class="d-block float-end ms-3 rounded-circle mt-5" alt="..." width="230px">
                <div class="py-5">
                    <i class="fa-solid fa-quote-left text-light"></i>
                    <figure class="text-end">
                        <blockquote class="blockquote">
                            <p class="text-light">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem voluptates modi quae! Error modi illum assumenda unde iusto officiis, reprehenderit architecto natus quas, aut, pariatur eos commodi nihil delectus consequuntur! Enim exercitationem explicabo blanditiis repellendus ad, molestias deleniti, unde ipsa commodi error reiciendis molestiae ut dolor porro facilis ea, omnis architecto id? Illo ratione, neque fugit saepe fugiat maiores dolore.</p>
                        </blockquote>
                        <figcaption class="blockquote-footer">
                            John Doe <cite title="Source Title">Diplomé en Licence Informatique</cite>
                        </figcaption>
                    </figure>
                    <i class="fa-solid fa-quote-right text-light"></i>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <img src="{{asset('img/1559392319600.jfif')}}" class="d-block float-end ms-3 rounded-circle mt-5" alt="..." width="230px">
                <div class="py-5">
                    <i class="fa-solid fa-quote-left text-light"></i>
                    <figure class="text-end">
                        <blockquote class="blockquote">
                            <p class="text-light">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem voluptates modi quae! Error modi illum assumenda unde iusto officiis, reprehenderit architecto natus quas, aut, pariatur eos commodi nihil delectus consequuntur! Enim exercitationem explicabo blanditiis repellendus ad, molestias deleniti, unde ipsa commodi error reiciendis molestiae ut dolor porro facilis ea, omnis architecto id? Illo ratione, neque fugit saepe fugiat maiores dolore.</p>
                        </blockquote>
                        <figcaption class="blockquote-footer">
                            John Doe <cite title="Source Title">Diplomé en Licence Informatique</cite>
                        </figcaption>
                    </figure>
                    <i class="fa-solid fa-quote-right text-light"></i>
                </div>
            </div>
        </div>
    </div>
    {# <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
    </button> #}
</div>
<br>
