<div class="my-5" data-sal="slide-up" style="--sal-duration: 2s; --sal-delay: 0s;">
    <div class="swiper testimonialCarousel specifical-bg-3-testimonial py-5">
        <div class="swiper-wrapper">
            {% for alumni in alumnis %}
                
            <div class="swiper-slide">
                <div class="container">
                    <div class="row flex-lg-row-reverse justify-content-center">
                        <div class="xs col-md-4 col-sm-6 col-lg-2 float-lg-end">
                            <img src="{{asset('uploads/images/avatars/' ~ alumni.pictureName)}}" class="d-block rounded-circle img-fluid" alt="avatar temoigneur">
                        </div>

                        <div class="col-lg-10">
                            <div class="">
                                <figure class="text-lg-end">
                                    <blockquote class="blockquote">
                                        <i class="fa-solid fa-quote-left text-light"></i>
                                        <p class="text-light">{{alumni.testimonial}} </p>
                                        <i class="fa-solid fa-quote-right text-light"></i>
                                    </blockquote>
                                    <figcaption class="blockquote-footer">
                                        <p class="h3 fw-bold text-light">{{alumni}}</p>
                                        <cite title="Source Title">{{alumni.profil}}</cite>
                                    </figcaption>
                                </figure>
                            </div>
        
                        </div>
                    </div>

                </div>
            </div>
            {% endfor %}

        </div>
        <div class="swiper-pagination"></div>

    </div>
</div>