

<div class="container mb-5">
	<h3 class="text-center">Pourquoi choisir Le parcours informatique pour vos poursuites d'études ?</h3>

	<div class="row g-5 py-5 row-cols-1 row-cols-lg-3">
		<div class="feature col text-center">
			<div class="feature-icon d-inline-flex align-items-center justify-content-center text-danger fs-2 mb-3">
				<svg class="fa fa-2x fa-hand-holding-dollar" width="1em" height="1em">
				</svg>
			</div>
			<h3 class="fs-2">Faible coût</h3>
			<p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
			
		</div>
		<div class="feature col text-center">
			<div class="feature-icon d-inline-flex align-items-center justify-content-center text-danger fs-2 mb-3">
				<svg class="fa-solid fa-circle-check fa-2x" width="1em" height="1em">
				</svg>
			</div>
			<h3 class="fs-2">Qualité</h3>
			<p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
			
		</div>
		<div class="feature col text-center">
			<div class="feature-icon d-inline-flex align-items-center justify-content-center text-danger fs-2 mb-3">
				<svg class=" fa-2x" width="1em" height="1em">
					<use xlink:href="#toggles2"></use>
				</svg>
			</div>
			<h3 class="fs-2">Une dynamique pédagogique</h3>
			<p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
			
		</div>
		<div class="feature col text-center">
			<div class="feature-icon d-inline-flex align-items-center justify-content-center text-danger fs-2 mb-3">
				<svg class="bi fa-2x" width="1em" height="1em">
					<use xlink:href="#toggles2"></use>
				</svg>
			</div>
			<h3 class="fs-2">Des enseignants en activité</h3>
			<p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
			
		</div>
		<div class="feature col text-center">
			<div class="feature-icon d-inline-flex align-items-center justify-content-center text-danger fs-2 mb-3">
				<svg class="fa-2x" width="1em" height="1em">
					<use xlink:href="#toggles2"></use>
				</svg>
			</div>
			<h3 class="fs-2">Confort</h3>
			<p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
			
		</div>
		<div class="feature col text-center">
			<div class="feature-icon d-inline-flex align-items-center justify-content-center text-danger fs-2 mb-3">
				<svg class="bi fa-2x" width="1em" height="1em">
					<use xlink:href="#toggles2"></use>
				</svg>
			</div>
			<h3 class="fs-2">Ouverte sur l'entreprise</h3>
			<p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
			
		</div>
	</div>

</div>