{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<main class="overflow-hidden">

{% include "home/_carousel.html.twig" %}


{% include "home/_description.html.twig" %}
  
{% include "home/_statistic.html.twig" %}

{% include "home/_testimonial.html.twig" %}    

{% include "home/_news_grid.html.twig" %}

</main>
{% endblock %}
