{% extends 'base.html.twig' %}

{% block title %}Parcours-Informatique Université Marien Ngouabi FST{% endblock %}

{% block meta %} 
    <meta name="description" content="Le parcours Informatique de la Faculté des Sciences et Techniques de 
    l’Université Marien NGOUABI offre des formations en adéquation avec les besoins des entreprises ">
{% endblock %}

{% block body %}
<main class="overflow-hidden">

{% include "home/_carousel.html.twig" %}


{% include "home/_description.html.twig" %}
  
{% include "home/_statistic.html.twig" %}

{% include "home/_testimonial.html.twig" %}    

{% include "home/_news_grid.html.twig" %}

</main>
{% endblock %}
