{% extends 'base.html.twig' %}

{% set preinscription = 'section-active' %}

{% block title %}Préinscription en ligne{% endblock %}

{% block meta %}
    <meta name="description" content="Faites vos préinscriptions aux parcours informatiques en ligne et rapide">
{% endblock %}

{% block body %}

{% include "pre_registration/_heading.html.twig" %} <br>   

<div class="container">


    <div class="row flex-lg-row-reverse">
        <div class="col-md-6">
            <img src="{{asset('img/preinscription_2.jpg')}}" alt="" class="img-fluid rounded">
        </div>
        <div class="col-md-6" data-sal="slide-right" style="--sal-duration: 2s;">
            <div class="mb-5">
                <p>
                    La « Préinscription en ligne » a été initié dans le but de faciliter les inscriptions au Parcours d'Informatique de la Faculté des Sciences et Techniques.
                </p>
                <p>
                    Tous les étudiants désirant rejoindre le parcours doivent obligatoirement effectuer la préinscription en ligne avant de se présenter au 
                    niveau du parcours pour finaliser leur inscription. 
                </p>
            </div>
            <a href="{{ path('app_pre_registration_new') }}" class="btn btn-lg text-light specifical-bg-1 shadow">Nouvelle préinscription</a>
        </div>
    </div>

    

</div>
{% endblock %}
