{% extends 'base.html.twig' %}

{% block title %}New PreRegistration{% endblock %}

{% block body %}

<div class="container">
    <div class="py-5">
        <h1 class="py-3" >Nouvelle préinscription</h1>

        {{ include('pre_registration/_form.html.twig') }}

    </div>
</div>

{% endblock %}
