<div class="specifical-bg-3-testimonial shadow p-5 mb-4">
    <h1 class="p-5 text-center text-white fs-1">Alumni</h1>
    <div class="text-center">
        <p class="text-white"><a href="{{path('app_home')}}" class="text-decoration-none text-white">Accueil</a> / <a href="" class="text-decoration-none text-muted">{{ sub_link|default('alumni') }}</a></p>
    </div>
</div>

