<div class="shadow mb-4" style="background-image: url('{{asset("img/banner_2.png")}}'); background-position: center top;background-repeat: no-repeat;">
    <div class="text-center  p-5" style="background-color: rgba(0, 0, 0, 0.608)">
        <p class="p-5 text-center text-white fs-1">Alumni</p>
        <p class="text-white"><a href="{{path('app_home')}}" class="text-decoration-none text-white">Accueil</a> / <a href="" class="text-decoration-none text-muted">{{ sub_link|default('alumni') }}</a></p>
    </div>
</div>

