{% extends 'base.html.twig' %}

{% block title %}Alumni{% endblock %}

{% block body %}

{{ include('parcours/_heading.html.twig',{'sub_link':'Alumni'}) }}

<div class="container">

<div class="row g-5">
    {% for alumni in alumnies %}
        <div class="col-md-6 col-sm-12">
            <div class="card border border-0 shadow-sm mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="..." class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{#{teacher}#}</h5>
                            <p class="card-text">{#{teacher.diploma}#}</p>
                            <p class="card-text"><a href="" class=""><small> Plus de details </small></a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="col text-color-2"> {{knp_pagination_render(alumnies)}}</div>
</div>
</div>
{% endblock %}
