{% extends '@EasyAdmin/page/content.html.twig' %}
{# {% form_theme form 'bootstrap_5_layout.html.twig' %} #}
{% block content_title %}Mon profil{% endblock %}

{% block main %}
<div class="container">
    <h3 class="text-center">Pas encore disponible</h3>
</div>
{% endblock %}
