@import "~bootstrap/dist/css/bootstrap";
@import "~datatables.net-bs5/css/dataTables.bootstrap5.min.css";
/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap'); */

@font-face {
    font-family: 'Roboto Slab';
    src: url('./fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf') format('ttf');
  }
@font-face {
    font-family:'Rufina';
    src: url('./fonts/Rufina/Rufina-Bold.ttf') format('ttf'),
         url('./fonts/Rufina/Rufina-Regular.ttf') format('ttf');
  }

p, ul>li {
    font-family: 'Roboto slab', sans-serif;
    font-size: 17px;
    color: rgb(86,86,86);
}

.item-title {
    font-family:'Roboto Slab', serif ;
    color: #b80924;
    
}
.item-title:hover {
    font-family:'Roboto Slab', serif ;
    color: #2f0f55;
    
}

.text-color-2 {
    color: #2f0f55;
}

/*header debut part*/ 
.header-color{
    background-color: #F6E9BD ;
}
.btn-color{
    background-color: #b80924;
    color: #FFF;
}
.header-link{
    color :#0e0e0e;
    font-weight: bold;
   
}
.header-link:hover{
   color:#2f0f55;   
}
.header-link:hover{
    background-color:#2f0f55;
    color: #fff ;   
    box-shadow: #0e0e0e 2px 3px;
 }
.color-text{
    color:#b80924;
 }
 .text-color-2{
    color:#2f0f55;
 }
/*header end part*/

/* footer debut part*/
.footer-link{
     color :rgb(134, 134, 134); 
}
.footer-link:hover{
    color:#b80924;
    font-weight: 600;
}
.text-subline {
    position: relative;
    height: 1px;
    padding: 0;
    background: #e5e5e5;
    border: 50px;
}

.content-devider{
    padding-right: initial;
    padding-left: initial;
    font-size: 0;
    text-align: center;
    position: relative;
}

.content-devider-line{
    margin: auto;
    opacity: 100%;
    border-top-width: 4px;
    border-top-style: solid;
    border-top-color: #0d2d62;
}

.text-subline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 3px;
    background: #2f0f55;
    width: 50px;
}
.card:hover{
    background-color: #e5e5e518;
}

.specifical-bg-1{
    background-color: #b80924;
}
.specifical-bg-1:hover{
    background-color: #2f0f55;
}

.specifical-bg-2{
    background-color: #F6E9BD;
}
.specifical-bg-3-testimonial{
    background-color: #2f0f55;
}
.specifical-bg-3{
    background-color: #2f0f55;
}
.specifical-bg-3:hover{
    background-color: #b80924;
}

/*  news page*/

.hover-article a img {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover-article a:hover img {
	opacity: .5;
}

#myTab li a {
    text-decoration: none;
    background-color: #fff;
    color: #191919;
}

button.accordion-button {
    background-color: #ffffff;
    color: #2f0f55;
    font-size: large;
    font-weight: bold;
}

button.accordion-button:focus, #myTab li a:hover {
    color: #2f0f55;
    background-color: #ffffff;
}

/* Swiper js */
.swiper {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}


.swiper-slide {
    text-align: center;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    object-fit: cover;
}

:root {
    --primary-color: #2f0f55;
}

/* Progressbar */
.progressbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    counter-reset: step;
    margin: 2rem 0 4rem;
}

.progressbar::before,
.progress {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    background-color: #dcdcdc;
    z-index: -1;
}

.progress {
    background-color: var(--primary-color);
    width: 0%;
    transition: 0.3s;
}

.progress-step {
    width: 2.1875rem;
    height: 2.1875rem;
    background-color: #dcdcdc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-step::before {
    counter-increment: step;
    content: counter(step);
}

.progress-step::after {
    content: attr(data-title);
    position: absolute;
    top: calc(100% + 0.5rem);
    font-size: 0.85rem;
    color: #666;
}

.progress-step-active {
    background-color: var(--primary-color);
    color: #f3f3f3;
}

/* Form */

.form-step {
    display: none;
    transform-origin: top;
    animation: animate 0.5s;
}

.form-step-active {
    display: block;
}

.inputs-group {
    margin: 2rem 0;
}


/* @media only screen and (min-width: 992px) {

    li.nav-item.dropdown:hover .dropdown-menu {
        display: block;
        color: #b80924;
        font-weight: bold;
    }
} */

.dropdown-large {
    padding: .5rem;
}

@media all and (min-width: 992px) {
    .dropdown-large {
        min-width: 780px;
        right: auto;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
        -o-transform: translate(-50%, 0);
        transform: translate(-50%, 0);

    }
}

@media only screen and (max-width: 600px) {
    div.xs {
        width: 50%;
    }
}