@import "~bootstrap/dist/css/bootstrap";
@import "~datatables.net-bs5/css/dataTables.bootstrap5.min.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    background-color: #FFF;
    color: #000;
    margin:0;
    padding: 0;
    font-family:'Roboto Slab', serif ;
}
/*header debut part*/ 
.header-color{
    background-color: #F6E9BD ;
}
.btn-color{
    background-color: #b80924;
    color: #FFF;
}
.header-link{
    color :rgb(0, 0, 0); 
}
.header-link:hover{
   color:#b80924;
   font-weight: 600;
   
}
header>div>div>ul>li:hover{
    border-bottom: 3px solid #b80924;
    background-color: #e5e5e515;
}
.dropdown:hover .dropdown-menu{
    display: block; 
    color: #b80924;
    font-weight: bold;
}
.dropdown-item:hover{
    color: #b80924;
    font-weight: 600;
}
/*header end part*/
/* footer debut part*/
.footer-link{
     color :rgb(134, 134, 134); 
}
.footer-link:hover{
    color:#b80924;
    font-weight: 600;
}
.text-subline {
    position: relative;
    height: 1px;
    padding: 0;
    background: #e5e5e5;
    border: 50px;
}
.text-subline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 1px;
    background: #b80924;
    width: 50px;
}
.card:hover{
    background-color: #e5e5e518;
}
/* footer part end */
/* typing part */
/* .typing{
    background-color: #050505;
    color: #F6E9BD;
    box-sizing: border-box;
    height: 360px;
    
} */
.specifical-bg-1{
    background-color: #b80924;
}
.specifical-bg-2{
    background-color: #F6E9BD;
}
.specifical-bg-3{
    background-color: #2f0f55;
}

/*  news page*/

.hover-article a img {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover-article a:hover img {
	opacity: .5;
}
