<div class="specifical-bg-3-testimonial shadow p-5 mb-4">
    <p class="p-5 text-center text-white fs-1 fw-bold">Parcours</p>
    <div class="text-center">
        <p class="text-white"><a href="{{path('app_home')}}" class="text-decoration-none text-white">Accueil</a> / <a href="" class="text-decoration-none text-muted">{{ sub_link|default('Presentation') }}</a></p>
    </div>
</div>

