{% extends 'base.html.twig' %}

{% block title %}Admission{% endblock %}

{% block body %}

{{ include('parcours/_heading.html.twig',{'sub_link':'Admission'}) }}

<div class="container">
    <div>
        <div class="">
            <h1 class="my-3 py-3" data-sal="fade" style="--sal-duration: 3s;">Modalité d'admission / Conditions d'accès</h1>
			<div class="row my-3">
				<div class="col-md-6" data-sal="slide-left" style="--sal-duration: 2s;">
					<p>
						La condition requise pour s'inscrire au parcours Informatique de la 
						Faculté de Science et Techniques est de valider la première année de 
						licence Scientifique dans l'un des établissements de L'université 
						Marien NGOUABI
					</p>
					<p>
						Pour les étudiants en provenance d’une autre Université, il faut faire 
						une demande de validation de vos semestres acquis en licence dans une 
						autre université au niveau de la Scolarité
					</p>
					<p>
						En cas de manque de ces titres requis pour un accès de droit mais qu'on 
						fait valoir un autre diplôme, une autre formation et/ou des expériences 
						personnelles et professionnelles équivalant à un Bac+1 et/ou Bac + 2. Il 
						faut faire une demande d'equivalence des diplômes à la direction de 
						l'établissement.
					</p>
				</div>

				<div class="col-md-6" data-sal="slide-right" style="--sal-duration: 2s;">
					<img src=" {{asset('img/admission.jpg')}} " class="img-fluid rounded">
				</div>	
			</div>
        </div>
    </div>
</div>

{% endblock %}
