{% extends 'base.html.twig' %}

{% block title %}Mot du responsable{% endblock %}

{% block body %}

{{ include('parcours/_heading.html.twig',{'sub_link':'Mot du chef de parcours'}) }}


<div class="container">
    <h1 class="my-3" data-sal="fade" style="--sal-duration: 2s;">Mot du responsable</h1>
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-8 my-3" data-sal="slide-right" style="--sal-duration: 2s;">
            <div class="text-muted">
                <div class="">
                    <p>Odio officia assumenda doloremque nostrum a laudantium! Ducimus officia impedit, accusamus doloribus magni earum id ipsa libero hic quia! Veritatis ex saepe a. Laborum ad architecto quod repellat facilis debitis. Non magni corrupti sunt esse, tenetur laboriosam fugit odit itaque sequi assumenda adipisci molestiae id porro? Nihil consequatur quisquam nam quos similique quis, perferendis alias fugit.</p>
                    <p>Molestiae necessitatibus esse eius incidunt voluptates, quod ullam nam rem perferendis corrupti expedita sequi veritatis enim quam? Harum alias deleniti, aliquam ipsum omnis illo, animi neque vero possimus excepturi eligendi aut? Optio impedit molestias recusandae velit eaque fuga, rerum voluptatum repellendus deserunt cumque minima placeat consectetur doloremque reiciendis quam inventore sed harum similique quos dolorem corporis ipsam enim unde! Quae quidem at reprehenderit magni quasi iure animi?</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 my-3 me-0" data-sal="slide-left" style="--sal-duration: 2s;">
            <img src=" {{asset('img/babindamana.jpg')}} " alt="" class="img-fluid">   
        </div>
    </div>
    
</div>
{% endblock %}
