{% extends 'base.html.twig' %}

{% block title %}Presentation{% endblock %}

{% block body %}

<div class="container">
    <h1 class="my-3">Présentation du parcours</h1>
    <div class="">
        <div class="my-3">
            <h2>Historique et contexte de creation</h2>
            <div class="row text-muted">
                <div class="col-sm-12 col-md-6 col-lg-8">
                    <p>Odio officia assumenda doloremque nostrum a laudantium! Ducimus officia impedit, accusamus doloribus magni earum id ipsa libero hic quia! Veritatis ex saepe a. Laborum ad architecto quod repellat facilis debitis. Non magni corrupti sunt esse, tenetur laboriosam fugit odit itaque sequi assumenda adipisci molestiae id porro? Nihil consequatur quisquam nam quos similique quis, perferendis alias fugit.</p>
                    <p>Molestiae necessitatibus esse eius incidunt voluptates, quod ullam nam rem perferendis corrupti expedita sequi veritatis enim quam? Harum alias deleniti, aliquam ipsum omnis illo, animi neque vero possimus excepturi eligendi aut? Optio impedit molestias recusandae velit eaque fuga, rerum voluptatum repellendus deserunt cumque minima placeat consectetur doloremque reiciendis quam inventore sed harum similique quos dolorem corporis ipsam enim unde! Quae quidem at reprehenderit magni quasi iure animi?</p>
                </div>
                <div class="col-md-6 col-lg-4">
                    <img src=" {{asset('img/logo.png')}} " alt="" width="360px">
                </div>
            </div>
        </div>
        <div class="my-3">
            <h2>Mission</h2>
            <div class="text-muted">
                <p>Odio officia assumenda doloremque nostrum a laudantium! Ducimus officia impedit, accusamus doloribus magni earum id ipsa libero hic quia! Veritatis ex saepe a. Laborum ad architecto quod repellat facilis debitis. Non magni corrupti sunt esse, tenetur laboriosam fugit odit itaque sequi assumenda adipisci molestiae id porro? Nihil consequatur quisquam nam quos similique quis, perferendis alias fugit.</p>
                <p>Vel voluptates quas porro sint deserunt architecto cum enim minus nobis quasi, at nisi quos velit, voluptas voluptatum fugiat ex consequatur necessitatibus impedit itaque quaerat fugit voluptatibus, maxime ducimus! A, dicta! Dignissimos saepe sed veritatis omnis sapiente voluptate autem corrupti, ullam consequatur deserunt eum voluptatem enim itaque temporibus quasi fugiat doloremque tenetur, voluptates amet. Itaque autem repellat exercitationem, nisi, ad modi minima at ut excepturi mollitia nulla dicta blanditiis veniam tenetur perferendis. Veniam, earum maiores corporis culpa esse accusamus laborum deserunt laudantium!</p>
            </div>
        </div>
        <div class="my-3">
            <h2>Chiffres</h2>
            <div class="text-muted">
                <p>Odio officia assumenda doloremque nostrum a laudantium! Ducimus officia impedit, accusamus doloribus magni earum id ipsa libero hic quia! Veritatis ex saepe a. Laborum ad architecto quod repellat facilis debitis. Non magni corrupti sunt esse, tenetur laboriosam fugit odit itaque sequi assumenda adipisci molestiae id porro? Nihil consequatur quisquam nam quos similique quis, perferendis alias fugit.</p>
            </div>
        </div>
    </div>
    
</div>
{% endblock %}
