{% extends 'base.html.twig' %}

{% block title %}Presentation{% endblock %}

{% block body %}

{{ include('parcours/_heading.html.twig',{'sub_link':'Présentation'}) }}

<div class="container">
    <h1 class="my-5">Présentation du parcours</h1>
    <div class="">
        <div class="my-4">
            <h2>Historique et contexte de creation</h2>
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-8">
                    <p>Odio officia assumenda doloremque nostrum a laudantium! Ducimus officia impedit, accusamus doloribus magni earum id ipsa libero hic quia! Veritatis ex saepe a. Laborum ad architecto quod repellat facilis debitis. Non magni corrupti sunt esse, tenetur laboriosam fugit odit itaque sequi assumenda adipisci molestiae id porro? Nihil consequatur quisquam nam quos similique quis, perferendis alias fugit.</p>
                    <p>Molestiae necessitatibus esse eius incidunt voluptates, quod ullam nam rem perferendis corrupti expedita sequi veritatis enim quam? Harum alias deleniti, aliquam ipsum omnis illo, animi neque vero possimus excepturi eligendi aut? Optio impedit molestias recusandae velit eaque fuga, rerum voluptatum repellendus deserunt cumque minima placeat consectetur doloremque reiciendis quam inventore sed harum similique quos dolorem corporis ipsam enim unde! Quae quidem at reprehenderit magni quasi iure animi?</p>
                </div>
                <div class="col-md-6 col-lg-4">
                    <img src=" {{asset('img/logo.png')}} " alt="" width="360px">
                </div>
            </div>
        </div>
        <div class="my-4">
            <h2>Objectifs de la formation</h2>
            <div class="">
                <p>L’objectif de la licence Informatique de la faculté des sciences et Ttchnologies de l’Université de Lille est de fournir une solide formation générale en informatique. La spécialisation en informatique se fait progressivement dans le parcours tout en conservant en permanence une place aux enseignements des compétences transversales. La formation se conclut par un stage en entreprise de 3 mois.</p>
                <p>Vel voluptates quas porro sint deserunt architecto cum enim minus nobis quasi, at nisi quos velit, voluptas voluptatum fugiat ex consequatur necessitatibus impedit itaque quaerat fugit voluptatibus, maxime ducimus! A, dicta! Dignissimos saepe sed veritatis omnis sapiente voluptate autem corrupti, ullam consequatur deserunt eum voluptatem enim itaque temporibus quasi fugiat doloremque tenetur, voluptates amet. Itaque autem repellat exercitationem, nisi, ad modi minima at ut excepturi mollitia nulla dicta blanditiis veniam tenetur perferendis. Veniam, earum maiores corporis culpa esse accusamus laborum deserunt laudantium!</p>
            </div>
        </div>
        <div class="my-4">
            <h2>Spécificités de la formation</h2>
            <div class="">
                <p>L’ensemble des formations du département informatique offre un environnement d’études de qualité pour réussir ses études en informatique :</p>
                <ul>
                    <li>forte employabilité à l’issue de la formation ;</li>
                    <li>forte interaction avec le milieu professionnel : stages, alternance ;</li>
                    <li>une formation à la recherche et à l’innovation ;</li>
                    <li>750 étudiants dont plus de 100 alternants ;</li>
                    <li>un parc de 450 PC récents ;</li>
                    <li>des droits d’inscriptions faibles.</li>
                </ul>

                <p>Les 70 enseignants/chercheurs membres du Centre de recherche en Informatique et Automatique de Lille (CRIStAL) et du centre de recherche Inria Lille - Nord Europe forment un corps enseignant hautement qualifié que viennent compléter plus de 25 intervenants issus du monde de l’entreprise.</p>
            </div>
        </div>

        <div class="my-4">
            <h2>Compétences visées</h2>
            <div class="">
                <p>Une formation scientifique</p>
                <p>
                    L’informatique est une science dont les applications sont nombreuses. L’apprentissage des concepts fondamentaux va donc de pair avec leur mise en pratique et un tiers des enseignements est consacré à des travaux dirigés sur ordinateur. Les thèmes abordés couvrent l’essentiel des champs de l’informatique :
                </p>

                <ul>
                    <li>programmation : orientée objet avec Java, en C, paradigmes fonctionnels et logiques ;</li>
                    <li>principes théoriques : algorithmique, automates et langages formels ;</li>
                    <li>bases de données ;</li>
                    <li>technologies du web ;</li>
                    <li>réseaux et système.</li>
                </ul>

            </div>

            <div class="">
                <p>Et ouverte sur l'entreprise</p>
                <p>
                    Cette formation scientifique s’accompagne de l’acquisition de compétences transversales indispensables à toute activité professionnelle future : acquisition de méthodes de travail, connaissance de l’entreprise, anglais, communication écrite et orale ; accompagnement de l’étudiant dans l’élaboration d’un projet professionnel et de formation, découverte des métiers et des différents domaines disciplinaires.
                </p>
            </div>

            
        </div>

        
    </div>
    
</div>
{% endblock %}
