{% extends 'base.html.twig' %}

{% block title %}
to change
{% endblock %}

{% block body %}

{{ include('parcours/_heading.html.twig',{'sub_link':'Speciality'}) }}

<div class="container">
    <div>
		<h3>Encours d'implémentation</h3>
    </div>
</div>

{% endblock %}
