<div class="specifical-bg-1 p-5">
    <h1 class="p-5 text-center text-white fs-1">Actuallités</h1>
    <div class="text-center">
        <p class="text-light"><a href="{{path('app_home')}}" class="text-decoration-none text-light">Accueil</a> / <a href="{{path('app_news')}}" class="text-decoration-none text-light">Actualités</a></p>
    </div>
</div>