<div>
    <h5>Actualités récentes</h5>
    <div class="text-subline"></div>
    <div class="p-3">

        <ul class="list-unstyled">
        {% for article in latest_articles %}
            <li class="mb-3">
                <div>
                    <h5>
                        <a href="{{path('app_news_show', {'slug': article.slug})}}" class="text-decoration-none item-title">{{article.title}}</a>
                    </h5>
                    <div class="row">
                        <div class="col"><p class=""><i class="fa-solid fa-calendar-days"></i>{{article.createdAt | date('d/m/Y')}}</p></div>
                        </div>
                </div>
            </li>  
        {% endfor %}
        </ul>
                    
    </div>
</div>    