{% extends 'base.html.twig' %}

{% block title %}Actualités{% endblock %}

{% block meta %}
    <meta name="description" content="Debut des semestres impairs, tout etudiants est dans l'obligation d'avoir sa carte">
{% endblock %}

{% block body %}
<div class="mb-4 specifical-bg-3-testimonial shadow p-5">
    <p class="p-5 text-center text-white fs-1 fw-bold">Actualités</p>
    <div class="text-center">
        <p class="text-light"><a href="{{path('app_home')}}" class="text-decoration-none text-white">Accueil</a> / <a href="" class="text-decoration-none text-muted">Actualités</a></p>
    </div>
</div>


{% include "news/_list.html.twig" %}

<hr>
{% endblock %}
