{% extends 'base.html.twig' %}

{% block title %}Actualités{% endblock %}

{% block body %}
<div class="mb-4 specifical-bg-1 p-5">
    <h1 class="p-5 text-center text-white fs-1">Actualités</h1>
    <div class="text-center">
        <p class="text-light"><a href="{{path('app_home')}}" class="text-decoration-none text-white">Accueil</a> / <a href="" class="text-decoration-none text-muted">Actualités</a></p>
    </div>
</div>


{% include "news/_list.html.twig" %}

<hr>
{% endblock %}
