{% extends "base.html.twig" %}

{% block body %}

<div class="mb-4 specifical-bg-1 p-5">
    <h1 class="p-5 text-center text-white fs-1">Actualités</h1>
    <div class="text-center">
        <p class="text-light"><a href="{{path('app_home')}}" class="text-decoration-none text-white">Accueil</a> / <a href="" class="text-decoration-none text-white">Actualités</a> / <a href="" class="text-decoration-none text-muted">titre de l'article</a></p>
    </div>
</div>

<div class="container ">
    <div class="row gx-5">
        <div class="col-md-12 col-lg-8">
            <div class="">
                <h2 class="text-bold">Exemple d'article</h2>
                <hr class="text-subline">
                <div class="">
                    <ul class="list-inline">
                        <li><i class="bi bi-clock-fill"></i><span class=""> Il y a 2 jours</span></li>
                        <li><i class="bi bi-person-fill"></i><span class=""> Ronald Austin</span></li>
                    </ul>
                </div>
                <div class="offset-top-30">
                    <img class="img-fluid" src=" {{asset('img/Depositphotos_183838210_XL.png')}} ">
                    <div class="offset-top-30">
                        <p>Most community college students qualify for need-based aid, experts say. Many community colleges offer promise programs, which offer tuition-free awards to eligible students – mainly to students with Pell grant eligibility. For one Massachusetts teen choosing between a two-year or four-year college, cost was the deciding factor.</p>
                    </div>
                    <p>Estime had hoped to attend Smith College, but says the school costs too much, at more than $45,000 a year for tuition and fees. The liberal arts major enrolled in Holyoke Community College last fall and plans to transfer to nearby Smith or the University of Massachusetts–Amherst for her junior year, depending on the financial aid award. Estime, in the meantime, has managed to keep her debt under $2,000, paying for college with private scholarships, Pell grants and a small loan.</p>
                </div>
                <div class="">
                    <img class="img-fluid" src="{{asset('img/Depositphotos_183838210_XL.png')}}" alt="">
                    <div class="offset-top-30">
                        <p>But those are just three ways to pay for community college. Here are some ways to pay for community college other than working part or full time.</p>
                    </div>
                    <p>Pell grants: Pell grants function like vouchers for students to pay for higher education-related expenses, covering items such as books, transportation or tuition. Awards are based on financial need to students who have not earned a bachelor's degree. More than two-thirds of Pell grants go to families making less than $50,000, according to Columbia University's Community College Research Center at Teachers College. These awards are also contingent on the student's household size.</p>
                </div>
                <div class="offset-top-30 row my-3">
                    <div class="col-sm-12 col-lg-6">
                        <div class="text-center">
                            <a class="btn btn-sm btn-outline-danger me-1" href="#">News</a>
                            <a class="btn btn-sm btn-outline-danger me-1 text-italic" href="#">Colleges</a>
                            <a class="btn btn-sm btn-outline-danger me-1 text-italic" href="#">Liberal Arts</a>
                            <a class="btn btn-sm btn-outline-danger me-1 text-italic" href="#">University</a>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-6">
                        <div class="text-center">
                            <a class="me-2" href="#"><i class="bi bi-facebook"></i></a>
                            <a class="me-2" href="#"><i class="bi bi-twitter"></i></a>
                            <a class="me-2" href="#"><i class="bi bi-google"></i></a>
                            <a class="me-2" href="#"><i class="bi bi-whatsapp"></i></a>
                        </div>
                    </div>
                </div>
            <div class="offset-top-50">
                <h6 class="text-bold">Autheur</h6>
                <div class="text-subline"></div>
                <div class="py-2">
                    <div class="d-flex">
                        <div class="">
                            <img class="img-fluid rounded" src=" {{asset('img/africaines2.jpg')}} " alt="">
                        </div>
                        <div class="ms-3">
                            <h6 class="text-bold text-danger">Ronald Austin</h6>
                            <p>I am a professional blogger interested in everything taking place in cyberspace. I am running this website and try my best to make it a better place to visit. I post only the articles that are related to the topic and thoroughly analyze all visitors’ comments to cater to their needs better.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <div class="col-md-12 col-lg-4">
            <aside>
                <div>
                    <h5>Recherche</h5>
                    <div class="text-subline"></div>
                    <div class="p-3">
                        <form action="" method="get">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="barre de recherche" aria-label="barre de recherche" aria-describedby="basic-addon2" width="100%">
                                <span class="input-group-text btn specifical-bg-1" id="">
                                    <button class="btn specifical-bg-1" type="submit">
                                        <i class="fa-solid fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
                <div>
                    <h5>Archives</h5>
                    <div class="text-subline"></div>
                    <div class="p-3">
                        <div class="row gx-5">
                            <div class="col-6">
                                <ul class="list-style-type-square">
                                    <li><a href="#" class="text-decoration-none text-muted">Nov 2019</a></li>
                                    <li><a href="#" class="text-decoration-none text-muted">Dec 2019</a></li>
                                    <li><a href="#" class="text-decoration-none text-muted">Jan 2020</a></li>
                                    <li><a href="#" class="text-decoration-none text-muted">Fev 2020</a></li>
                                    <li><a href="#" class="text-decoration-none text-muted">Sept 2020</a></li>
                                    <li><a href="#" class="text-decoration-none text-muted">Oct 2020</a></li>
                                </ul>
                            </div>
                            <div class="col-6">
                                <ul class="list-style-square">
                                    <li><a href="#" class="text-decoration-none text-muted">Nov 2020</a></li>
                                    <li><a href="#" class="text-decoration-none text-muted">Dec 2020</a></li>
                                    <li><a href="#" class="text-decoration-none text-muted">Jan 2021</a></li>
                                    <li><a href="#" class="text-decoration-none text-muted">Fev 2021</a></li>
                                    <li><a href="#" class="text-decoration-none text-muted">Mar 2021</a></li>
                                    <li><a href="#" class="text-decoration-none text-muted">Avr 2021</a></li>
                                </ul>
                            </div>
                                
                        </div>
                    </div>
                </div>    
                <div>
                    <h5>Galery</h5>
                    <div class="text-subline"></div>
                    <div class="p-3">
                        
                    </div>
                </div>    
                <div>
                    <h5>Categories</h5>
                    <div class="text-subline"></div>
                    <div class="p-3">
                        <ul class="list-style-square">
                            <li><a href="#" class="text-decoration-none text-muted">Actualités</a></li>
                            <li><a href="#" class="text-decoration-none text-muted">Evenements</a></li>
                            <li><a href="#" class="text-decoration-none text-muted">Examens</a></li>
                            <li><a href="#" class="text-decoration-none text-muted">Resultats</a></li>
                        </ul>
                    </div>
                </div>    
            
            </aside>
        </div>
                   
        </div>
    </div>
</div>
{% endblock %}