<div class="mb-4 specifical-bg-3 shadow p-5">
    <h1 class="p-5 text-center text-white fs-1">Contact</h1>
    <div class="text-center">
        <p class="text-light"><a href="{{path('app_home')}}" class="text-decoration-none text-white">Accueil</a> / <a href="" class="text-decoration-none text-muted">Contact</a></p>
    </div>
</div>

 <br>
    <div class="text-center col justify-content-between typing">
        <h2 class="p-2">Entrer en contact</h2>
            <span {{ stimulus_controller('symfony/ux-typed', {
            strings: ['Ecrivez nous ', 'Géolocalisez nous ', 'Appelez nous '],
            smartBackspace: true,
            startDelay: 180,
            backSpeed: 50,
            backDelay: 200,
            loop: true,
            showCursor: true,
            cursorChar: '|'
        }) }}></span>                               
    </div>

   
