<div class="bg-white flex-row">
    {# <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="50%" height="360" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> #}
   <div class="card lead">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15914.613480737982!2d15.2543437!3d-4.2873683!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x31f37f1f02c49f48!2sFacult%C3%A9%20des%20Sciences%20et%20Techniques!5e0!3m2!1sfr!2scg!4v1667988203118!5m2!1sfr!2scg" width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
   </div> 
</div>