{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
<main  class="">
    
    {% include "contact/_heading.html.twig" %} <br>   
        
    {% include "contact/_form.html.twig" %} <br>

    {% include "contact/_map.html.twig" %} 

    {# <hr class="featurette-divider"> #}

    
</main>
{% endblock %}
