{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block meta %}
    <meta name="description" content="Contactez nous pour mieux vous informer sur notre offre de formation en informatique (administration réseaux, administration base de données, developpement web et mobile, ...)">
{% endblock %}



{% block body %}
<main  class="">
    
    {% include "contact/_heading.html.twig" %} <br>   
        
    {% include "contact/_form.html.twig" %} <br>

    {% include "contact/_map.html.twig" %} 

    {# <hr class="featurette-divider"> #}

    
</main>
{% endblock %}
