<div class="container overflow-hidden">
  <footer class="py-5">
    <div class="row">
      <div class="col-6 col-md-2 mb-3">
        <ul class="nav flex-column">
          <li class="nav-item mb-2 py-2"><img src="{{asset('logos/armoirie.png')}}" class="nav-link p-0 text-muted rounded-2" width="110px"></li>
          <li class="nav-item mb-2"><img src="{{asset('logos/2014-05-20.jpg')}}" class="nav-link p-0 text-muted rounded-2" width="110px"></li>
        </ul>
      </div>

      <div class="col-6 col-md-2 mb-3">
        <h5>Liens Utiles</h5>
        <div class="text-subline"></div>
        <ul class="nav py-4 flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 footer-link ">Acceuil</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 footer-link">Actuallités</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 footer-link">Programmes</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 footer-link">Enseignants</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 footer-link">À propos</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-2 mb-3">
        <h5>Adresses</h5>
        <div class="text-subline"></div>
        <ul class="nav py-4">
          <li class="nav-item mb-2"><i class="fa-solid fa-location-dot"></i><a href="https://goo.gl/maps/LJSRrRj6kZ32smLTA" target="_blank" class="footer-link text-decoration-none "> UMNG FST Brazzaville</a></li>
          <li class="nav-item mb-2"><i class="fa-solid fa-phone"></i><a href="tel:+242066108900" class="footer-link text-decoration-none ">+242 06 610 89 00</a></li>
          <li class="nav-item mb-2"><i class="fa-solid fa-at"></i><a href="mailto:fst.informatique@umng.cg" class="footer-link text-decoration-none" >fst.contct@umng.cg</a></li>
        </ul>
      </div>

      <div class="col-md-5 offset-md-1 mb-3">
        <form>
          <h5>Inscrivez vous à notre newsletter</h5>
          <div class="text-subline"></div>
          <p class="nav py-4 text-muted">Entrez votre adresse e-mail pour recevoir les dernières nouvelles du parcours , les événements spéciaux et les activités étudiantes directement dans votre boîte de réception.</p>
          <div class="d-flex flex-column flex-sm-row w-100 gap-2">
            <label for="newsletter1" class="visually-hidden">Adresse email</label>
            <input id="newsletter1" type="text" class="form-control" placeholder="Adresse email">
            <button class="btn specifical-bg-3 text-light" type="button">S'inscrire</button>
          </div>
        </form>
      </div>
    </div>

    <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
      <p>© 2022 Pacours Informatique FST, All rights reserved.</p>
      <ul class="list-unstyled d-flex">
        <li class="ms-3"><a class="link-dark" href="#"><i class="fa-brands fa-facebook"></i></a></li>
        <li class="ms-3"><a class="link-dark" href="#"><i class="fa-brands fa-google"></i></a></li>
        <li class="ms-3"><a class="link-dark" href="#"><i class="fa-brands fa-youtube"></i></a></li>
        
      </ul>
      <p class="float-end"> Developper par <a href="#" class="footer-link text-decoration-none">Yolserve Ngoma</a> et <a href="#" class="footer-link text-decoration-none">Jovy Monka</a></p>
    </div>

  </footer>
</div>