<header class="p-3 mb-3 border-bottom bg-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-lg-0 text-dark text-decoration-none ">
          <img src="https://via.placeholder.com/90x90.png?text=Logo_Parcours" alt="Parcours_informatique" class="rounded-circle">
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#" class="nav-link px-2 header-link">Acceuil</a></li>
          <li><a href="#" class="nav-link px-2 header-link">Actuallités</a></li>
          <li><a href="#" class="nav-link px-2 header-link">Evenements</a></li>
          <li><a href="#" class="nav-link px-2 header-link">Contacts</a></li>
          <li class="dropdown">
                <a class="btn dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Présentation</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Enseignants</a></li>
                  <li><a class="dropdown-item" href="#">Programmes</a></li>
                  <li><a class="dropdown-item" href="#">Historique</a></li>
                </ul>
          </li>
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
          <input type="search" class="form-control" placeholder="Rechercher..." aria-label="Search">
        </form>

       
      </div>
    </div>
  </header>
