{% extends 'base.html.twig' %}

{% block title %} Erreur - Page non trouvée{% endblock %}

{% block body %}

<div class="container">
    <div class="row mt-5">
        <div class="col-md-6">
            <div class="text-center">
                <h1>Page non trouvée</h1>
                <p class="text-muted">
                    Désolé, la page que vous recherchez n'a pas été trouvée. Elle a soit été supprimer ou n'existe pas.
                </p>
                <p class="text-muted">Cliquez sur le bouton Accueil pour aller à la page d'accueil</p>
            </div>
            <div class="mt-5">
                <a href="{{ path('app_home') }}" class="btn rounded-pill specifical-bg-3 text-light">Accueil</a>
            </div>
        </div>

        <div class="col-md-6">
            <div class="">
                <img src="{{asset('img/404.png')}}" class="img-fluid" alt="">
            </div>
        </div>
    </div>

</div>
{% endblock %}