{% extends 'base.html.twig' %}

{% block title %} Erreur interne du serveur{% endblock %}

{% block body %}

<div class="container">
    <div class="row mt-5">
        <div class="col-md-6">
            <div class="">
                <h1>Erreur interne du serveur</h1>
                <p class="text-muted">
                    Le serveur a rencontré une erreur interne ou une mauvaise configuration et n’a pas été en mesure de compléter votre demande. <br>
                </p>
                <p class="text-muted">
                    Veuillez contacter l’administrateur, webmaster@domain.com et les informer de l’heure à laquelle l’erreur s’est produite,
                    et de tout ce que vous avez fait afin de les aider à resoudre rapidement le problème.
                </p>
                <p class="text-muted">Cliquez sur le bouton Accueil pour aller à la page d'accueil</p>
            </div>
            <div class="mt-5">
                <a href="{{ path('app_home') }}" class="btn rounded-pill btn-danger">Accueil</a>
            </div>
        </div>
        
        <div class="col-md-6">
            <img src="{{asset('img/404.png')}}" class="img-fluid" alt="">
        </div>

    </div>

</div>
{% endblock %}